---
import "../styles/global.css";
import { Header } from "../components/Header";
import {Footer} from '../components/Footer';
import { ClientRouter } from "astro:transitions";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Car Store</title>

        
	</head>
	<body class="min-h-screen flex flex-col justify-between">
	    <Header client:visible />
		<slot />
        <Footer />
        <ClientRouter />
	</body>
</html>
